@import './tailwind.css';
@import './theme.css';

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* View Transitions */
::view-transition-image-pair(root) {
  isolation: auto;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  display: block;
}
